.test-box {
  width: 100px;
  height: 100px;
}

.test-box-image {
  width: 80px;
  height: 80px;
}

#visual-box {
  display: grid;
  width: 200px;
  height: 200px;
  grid-template-columns: 50px 100px 50px;
  grid-template-rows: 50px 100px 50px;
  border: 2px solid red;
}

#test-image {
  grid-area: 2 / 2 / 3 / 3;
  height: 100px;
  width: 100px;
}

#test-amount {
  grid-area: 1 / 2 / 2 / 3;
}
