.test-box-image {
  width: 80px;
  height: 80px;
}

#visual-box {
  display: grid;
  width: 800px;
  height: 800px;
  grid-template-columns: 200px 400px 200px;
  grid-template-rows: 200px 400px 200px;
  border: 2px solid red;
}

#test-image {
  grid-area: 2 / 2 / 3 / 3;
  height: 350px;
  width: 350px;
}

#test-amount {
  grid-area: 1 / 2 / 2 / 3;
}

#parts-box {
  display: flex;
  flex-direction: row;
}
